@import "_normalize";
@import "_variables";
@import "_mixins";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-image: url("https://images4.alphacoders.com/595/595121.jpg");
  background-repeat: no-repeat, repeat;
  background: fixed;
}
.content {
  display: flex;
  max-width: 100%;
  width: 100%;
  justify-content: center;
  background: lightblue;
}

.navigation {
  max-width: 150px;
  width: 100%;
  margin-right:25px;
}
.box {
  height: 800px;
  overflow: auto;
}

.main {
  /* padding-left: 50px; */
  width: 100%;
  height: 100%;
}

.topTitle {
  font-size: 52px;
}

.list {
  background: rgb(16, 149, 161);
}

.insideListItem {
  background: lightskyblue
}