@import "_normalize";
@import "_variables";
@import "_mixins";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  background-image: url(/assets/img/grass.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  max-width: 1000px;
  width: 100%;
  margin: 0, auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-column-gap: 10px;
}

.navigation {
  background-color: rgba(38, 166, 91, 0.3);
  &__list {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    background: #399e5a;
  }
  &__innerList {
    width: 100%;
    list-style: none;
    background: #63e2c6;
  }

  &__linkTop {
    height: 75px;
  }
  &__link {
    display: flex;
    height: 25px;
    padding: 5px;
    align-items: center;
  }
}

.link {
  text-decoration: none;
}

.box {
  max-height: 700px;
  overflow: auto;
}

.image {
  background-image: url(/assets/img/fox-vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
}

.footer{
  max-width: 1000px;
  width: 100%;
  background: green;
  width: 100%;
}
